In [1]:
import pandas as pd
cricket_data1=pd.read_csv("WC_AUS_Innings.csv")

In [33]:
def calculate_batsman_performance(cricket_data):
    import pandas as pd
    # Filter data for the chosen batsman
    chosen_batsman = input("Please Enter Player Name: ")
    batsman_data = cricket_data[cricket_data['batsman'] == chosen_batsman].copy()

    # Calculate 'extra_balls' and 'valid_balls' based on 'ball_type'
    batsman_data['extra_balls'] = (batsman_data['ball_type'] != 'valid').astype(int)
    batsman_data['extra_runs'] = (batsman_data[batsman_data['ball_type'] != 'valid']['run']).astype(int)
    batsman_data['valid_balls'] = (batsman_data['ball_type'] == 'valid').astype(int)
    batsman_data['dot_balls'] = (batsman_data['run'] == 0).astype(int)

    # Group data by bowler and calculate performance metrics
    bowler_performance = batsman_data.groupby('bowler').agg({
        'run': 'sum',  # Calculate total runs scored against each bowler
        'extra_runs': 'sum',  # Calculate total extra runs scored against each bowler
        'dot_balls': 'sum',  # Calculate dot balls against each bowler
        'extra_balls': 'sum',  # Calculate extra balls against each bowler
        'valid_balls': 'sum',  # Calculate valid balls against each bowler
    }).reset_index()

    # Rename columns for clarity
    bowler_performance.columns = ['Bowler', 'TotalRuns', 'ExtraRuns', 'DotBalls', 'ExtraBalls', 'TotalBallsFaced']
    # Convert 'ExtraRuns' column to integers
    bowler_performance['ExtraRuns'] = bowler_performance['ExtraRuns'].astype(int)

    # Calculate Strike Rate and format it to 2 decimal places
    bowler_performance['StrikeRate'] = ((bowler_performance['TotalRuns'] / bowler_performance['TotalBallsFaced']) * 100).round(2)
    print()
    print(f"Performance of {chosen_batsman} against bowlers:")
    # Display the performance metrics for the chosen batsman against each bowler
    return bowler_performance

In [34]:
# Assuming you have your cricket data loaded in a DataFrame called 'cricket_data'
calculate_batsman_performance(cricket_data1)

Please Enter Player Name: Starc

Performance of Starc against bowlers:

,Bowler,TotalRuns,ExtraRuns,DotBalls,ExtraBalls,TotalBallsFaced,StrikeRate
0,Ashwin,4,0,8,0,12,33.33
1,Bumrah,12,2,5,2,10,120.00
2,Hardik,6,0,1,0,4,150.00
3,Kuldeep,2,0,1,0,3,66.67
4,Siraj,7,1,2,1,5,140.00

In [2]:
import pandas as pd
cricket_data=pd.read_csv("WC_IND_Innings.csv")

In [3]:
def calculate_batsman_performance(cricket_data):
    import pandas as pd
    # Filter data for the chosen batsman
    chosen_batsman = input("Please Enter Player Name: ")
    batsman_data = cricket_data[cricket_data['batsman'] == chosen_batsman].copy()

    # Calculate 'extra_balls' and 'valid_balls' based on 'ball_type'
    batsman_data['extra_balls'] = (batsman_data['ball_type'] != 'valid').astype(int)
    batsman_data['extra_runs'] = (batsman_data[batsman_data['ball_type'] != 'valid']['run']).astype(int)
    batsman_data['valid_balls'] = (batsman_data['ball_type'] == 'valid').astype(int)
    batsman_data['dot_balls'] = (batsman_data['run'] == 0).astype(int)

    # Group data by bowler and calculate performance metrics
    bowler_performance = batsman_data.groupby('bowler').agg({
        'run': 'sum',  # Calculate total runs scored against each bowler
        'extra_runs': 'sum',  # Calculate total extra runs scored against each bowler
        'dot_balls': 'sum',  # Calculate dot balls against each bowler
        'extra_balls': 'sum',  # Calculate extra balls against each bowler
        'valid_balls': 'sum',  # Calculate valid balls against each bowler
    }).reset_index()

    # Rename columns for clarity
    bowler_performance.columns = ['Bowler', 'TotalRuns', 'ExtraRuns', 'DotBalls', 'ExtraBalls', 'TotalBallsFaced']
    # Convert 'ExtraRuns' column to integers
    bowler_performance['ExtraRuns'] = bowler_performance['ExtraRuns'].astype(int)

    # Calculate Strike Rate and format it to 2 decimal places
    bowler_performance['StrikeRate'] = ((bowler_performance['TotalRuns'] / bowler_performance['TotalBallsFaced']) * 100).round(2)
    print()
    print(f"Performance of {chosen_batsman} against bowlers:")
    # Display the performance metrics for the chosen batsman against each bowler
    return bowler_performance

In [5]:
# Assuming you have your cricket data loaded in a DataFrame called 'cricket_data'
calculate_batsman_performance(cricket_data)

Please Enter Player Name: Kohli

Performance of Kohli against bowlers:

,Bowler,TotalRuns,ExtraRuns,DotBalls,ExtraBalls,TotalBallsFaced,StrikeRate
0,Cummins,15,2,8,2,17,88.24
1,Green,10,0,4,0,8,125.00
2,Hazlewood,13,0,19,0,28,46.43
3,Maxwell,7,0,5,0,12,58.33
4,Starc,20,2,13,2,26,76.92
5,Zampa,24,0,5,0,23,104.35